<h3> Update Post</h3>
<form ng-if="complexForm != null" [formGroup]="complexForm" (ngSubmit)="updatePost(complexForm.value)"  enctype="multipart/form-data">
  <div class="form-group">
    <label for="">
      <b>Id</b>
    </label>
    <input type="text" class="form-control" [formControl]="complexForm.controls['id']" disabled>
  </div>
  <div class="form-group">
    <label for="">
      <b>Category</b>
    </label>

    <select class="form-control" id="postCategoryId" formControlName="postCategoryId">
      <option value="null">Please select a category</option>
      <option *ngFor="let c of listCategories" value="{{c.id}}">{{c.title}}</option>
    </select>
    <div *ngIf="complexForm.controls['postCategoryId'].hasError('required')" class="has-error">field required</div>
  </div>
  <div class="form-group">
    <label for="">
      <b>Name</b>
    </label>
    <input type="text" class="form-control" [formControl]="complexForm.controls['title']">
    <div *ngIf="complexForm.controls['title'].hasError('required')" class="has-error">field required</div>
  </div>
  <div class="form-group">
    <label for="">
      <b>Image</b>
    </label>
    <br />
    <img width="50" [src] = "imageUrl" />
    <br />
    <br />
    <input type="file" name="file" [ngModelOptions]="{standalone: true}" ngModel (change)="getFiles($event)">
  </div>
  <div class="form-group">
    <label for="">
      <b>Content</b>
    </label>
    <input type="text" class="form-control" [formControl]="complexForm.controls['content']">
    <div *ngIf="complexForm.controls['content'].hasError('required')" class="has-error">field required</div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary" [disabled]="!complexForm.valid">Submit</button>
  </div>
</form>
