<h3> New Post</h3>
<form [formGroup]="complexForm" (ngSubmit)="newPost(complexForm.value)">
  <div class="form-group">
    <label for="">
      <b>Category</b>
    </label>

    <select class="form-control" id="postCategoryId" formControlName="postCategoryId">
      <option value="null" [selected]="true">Please select a category</option>
      <option *ngFor="let c of listCategories" value="{{c.id}}">{{c.title}}</option>
    </select>
    <div *ngIf="complexForm.controls['postCategoryId'].hasError('required')" class="has-error">field required</div>
  </div>

  <div class="form-group">
    <label for="">
      <b>Name</b>
    </label>
    <input type="text" class="form-control" id="title" formControlName="title" />
    <div *ngIf="complexForm.controls['title'].hasError('required')" class="has-error">field required</div>
  </div>
  <div class="form-group">
    <label for="">
      <b>Image</b>
    </label>
    <br />
    <br />
    <input type="file" name="file" [ngModelOptions]="{standalone: true}" ngModel (change)="getFiles($event)">
  </div>
  <div class="form-group">
    <label for="">
      <b>Content</b>
    </label>
    <input type="text" class="form-control" id="image" formControlName="content" />
    <div *ngIf="complexForm.controls['content'].hasError('required')" class="has-error">field required</div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary" [disabled]="!complexForm.valid">Submit</button>
  </div>
</form>
