<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 text-center logo-margin ">
        <span style="font-size: 30px; text-transform: uppercase;position: relative;color: white;">Simple Blog Engine</span>
    </div>
    <div class="col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Please Sign In</h3>
        </div>
        <div class="panel-body">
          <form role="form" [ngBusy]="busy" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
            <fieldset>
              <div class="form-group">
                <input type="email" class="form-control" name="email" [(ngModel)]="model.email" #username="ngModel" [pattern]="EMAIL_REGEXP"
                  autofocus required />
              </div>

              <div class="form-group">
                <div class="form-control-feedback" *ngIf="f.submitted && !username.valid">
                  <span class="text-danger align-middle">
                    <i class="fa fa-close"></i> Username is required
                  </span>
                </div>
              </div>

              <div class="form-group">
                <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
              </div>

              <div class="form-group">
                <div class="form-control-feedback" *ngIf="f.submitted && !password.valid">
                  <span class="text-danger align-middle">
                    <i class="fa fa-close"></i> Password is required
                  </span>
                </div>
              </div>

              <div class="checkbox">
                <label>
                  <input [(ngModel)]="model.rememberMe" class="form-check-input" name="rememberMe" type="checkbox"> Remember Me
                </label>
              </div>
              <button [disabled]="loading" class="btn btn-lg btn-success btn-block">
                <i class="fa fa-sign-in"></i> Login</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
